version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    commit-message:
      prefix: "[dependabot] "
    schedule:
      interval: "monthly"
    groups:
      npm:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "@types/*"

  - package-ecosystem: "npm"
    directory: "/backend/src"
    commit-message:
      prefix: "[dependabot] "
    schedule:
      interval: "monthly"
    groups:
      npm:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "@types/*"
